#card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: lightslategrey;
  border: 1px solid black;
  max-width: 250px;
}

#character-name {
  font-family: Roboto;
  font-weight: bold;
}

#character-description {
  font-family: arial;
  text-align: center;
}


#card-image {
  max-width: 100%;
  height: auto;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
}

#search-table { 
  width: 300px;
  font-family: arial;
}

#search-button {
  margin-top: 15px;
  padding: 10px;
  width: 100px;
}